# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.bak

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/*
!uploads/.gitkeep
!uploads/announcements/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docs
MONGODB_SETUP.md
